

<div class="habits">
    <!-- Create a habit view for each habit with emji, name, streak, best streak, toatl number of days done -->
    <%habits.forEach(habit=>{%>
        <%const habitName = habit.name.toLowerCase()%>
        <div class="row habit p-2 m-2 d-flex justify-content-between align-items-center rounded bg-light text-dark">
            

            <div class="col-5 col-md-3 container-fluid">
                <div class="row d-flex justify-content-around align-items-center ">
                    <div class="emoji col-3 fs-2 border border-dark border-2 p-1 rounded">
                        <%=emojis[habitName]%>
                    </div>
                    <div class="col-9">
                        <h4 class="">
                            <%= habit.name%>
                        </h4>
                    </div>
                    
                </div>
            </div>

            <div class="col-12 col-md-7">
                <div class="container-fluid">
                    <div class="row streaks">
                        <div class="col-9 col-sm-4 my-2">
                            <i class="fa-solid fa-droplet text-primary me-2"></i>Current Streak: <%=habit.currentStreak%>
                        </div>
                        <div class="col-7 col-sm-4 my-2">
                            <i class="fa-solid fa-fire text-danger me-2"></i>Best Streat: <%=habit.bestStreak%>
                        </div>
                        <div class="col-7 col-sm-4 my-2">
                            <i class="fa-solid fa-bullseye text-warning me-2"></i>Days: <%=habit.totalDaysDone%>/ <%=habit.daysCount%>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Buttons for marking done and NOt done and for deleting -->
            <div class="col-12 col-md-2 ">
                <div class="buttons">
                    <%const currentDate = new Date()%>
                    <button id="done-button" type="button" onclick="markDone(`<%=habit._id%>`, `<%=currentDate%>`)" class="btn text-success"><i class="fa-solid fa-check"></i></button>
                    <button id="done-button" type="button" onclick="markUndone(`<%=habit._id%>` , `<%=currentDate%>`)" class="btn text-danger"><i class="fa-solid fa-xmark"></i></button>
                    <button id="done-button" type="button" onclick="deleteHabit(`<%=habit._id%>`, `<%=currentDate%>`)" class="btn"><i class="fa-solid fa-trash"></i></button>
                </div>
            </div>
            
        </div>
    <%})%>
</div>