

<div class="container-fluid">
    
    <%habitReport.forEach(habit=>{%>
        <div class="bg-white rounded my-3">
            <div class=" text-dark">
                    <h4 class="ms-3">
                        <%=habit.name%>
                    </h4>

                <div class=" p-2 d-flex justify-content-around align-items-center">
                    <div class=" row emoji border border-2 border-dark rounded p-2 fs-1"><%=emojis[habit.name.toLowerCase()]%></div>
                    <%const today = new Date()%>
                    <%habit.weekReport.forEach(day=>{%>
                            <%const date= day.date%>
                        <div class=" col-sm-1 col-md-1 day d-flex flex-column align-items-center rounded p-2 px-3 <%=(date.getDate()==today.getDate())?'bg-dark text-light':'text-dark'%>">
                            <div class=" fw-1 mb-2">
                                <%=date.toString().substring(0,3)%>
                            </div>

                            <%if(day.status == "DONE"){%>
                                
                                <button type="button" 
                                title="Press To Mark Undone" 
                                onclick="markUndone(`<%=habit.id%>`, `<%=day.date%>`, true)" 
                                class="p-1 px-2 border border-2 rounded-circle border-dark"
                                style="font-size: 0.8rem;">
                                    <i class="fa-solid fa-check text-success"></i>
                                </button>
                            <%} else if(day.status == "NOT DONE"){%>
                                <button type="button" title="Press To mark Done" 
                                onclick="markDone(`<%=habit.id%>`, `<%=day.date%>`, true)" 
                                class=" px-2 border border-2 rounded-circle text-danger border-dark">
                                <i class="fa-solid fa-xmark"></i>
                                </button>
                            <%}else{%>
                                
                                <%if(today.getDate()<date.getDate()){%>
                                    <button type="button" title="Press To mark Done" disabled
                                    onclick="markDone(`<%=habit.id%>`, `<%=day.date%>`, true)" 
                                    class="p-3 border border-2 rounded-circle bg-light border-dark">
                                        
                                </button>
                                <%}else{%>
                                    <button type="button" title="Press To mark Done" onclick="markDone(`<%=habit.id%>`, `<%=day.date%>`, true)"
                                        class="p-3 border border-2 border-dark rounded-circle bg-light">
                                    </button>
                                <%}%>
                                
                            <%}%>
                            <div class="text-secondary mt-2" style="font-size: 0.7rem;"><%=date.toString().substring(4,10)%></div>
                        </div>
                    <%})%>
                </div>
            </div>
        </div>
    <%})%>
</div>